[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.devopsb71services.site
Environment=CATALOGUE_HOST=catalogue.devopsb71services.site
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target

